ul.mobile-nav {
    background-color: #006994;
    padding: 10px;
}
ul {
    list-style-type: none;
}
section.sidebar {
    background-color: #3d3d3d;
    height: 100vh;
    color: #fff;
}
@media screen and (min-width: 992px) {
    ul.mobile-nav {
        display: none !important;
    }
    section.sidebar{
        display: flex;
    }
}
@media screen and (max-width: 992px) {
    ul.mobile-nav {
        display: flex;
    }
    section.sidebar {
        display: none !important;
    }
}