ul.mobile-nav {
    background-color: #006994;
    padding: 10px;
}
ul {
    list-style-type: none;
}
section.sidebar {
    background-color: #3d3d3d;
    height: 100vh;
    color: #fff;
}
div.reason p{
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}
div.add-new{
    width: 30px;
    height: 30px;
    padding: 20px;
    background-color: #006994;
    color: #fff;
    border-radius: 100%;
}
div.recent-spendings {
    padding: 10px;
}
div.recent-spending{
    padding-left: 20px;
}
@media screen and (min-width: 992px) {
    ul.mobile-nav {
        display: none !important;
    }
    section.sidebar{
        display: flex;
    }
}
@media screen and (max-width: 992px) {
    ul.mobile-nav {
        display: flex;
    }
    section.sidebar {
        display: none !important;
    }
}